<div container="class">
  <h3><center> Add New Beer </center></h3>
  <% if user_signed_in? %>
    <%= render 'beers/form' %>
  <% end %>

  <div class="transitions-enabled" id="beers">
    <% @beers.each do |beer| %>
    <div class="box panel panel-default">
      <%= link_to (image_tag beer.beer_pic.url(:medium)), beer_path(beer) %>
      <div class="panel-body">
        <%= beer.title %>
      </div>
    </div>
    <% end %>

  </div>
</div>  
